<tr>
			{% for name in col_names %}
			<th>{{name}}</th>
			{% endfor %}
		</tr>
		{% for dict in data %}
		<tr>
			{% for key in dict %}
                {% if key == "Статус детали" %}
                    <td>
                        <select id="{{ dict["ID детали"] }}" onchange="changeSelect(this)">
                            {% for status in statuses %}
                                {% if dict[key] == status %}
                                    <option selected label="{{ status }}"  value="{{ statuses[status] }}"></option>
                                {% else %}
                                    <option label="{{ status }}" value="{{ statuses[status] }}"></option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                {% else %}
			    <td>{{dict[key]}}</td>
                {% endif %}
			{% endfor %}
		</tr>
		{% endfor %}