<tr>
    {% for name in col_names %}
        <th>{{ name }}</th>
    {% endfor %}
</tr>
{% for dict in data %}
    <tr>
        {% for key in dict %}
            {% if key == "task_status" %}
                <td>
                    <select onchange="changeSelect(this)">
                        {% for option in options %}
                            {% if dict[key] == option %}
                                <option selected label="{{ option }}" value="{{ dict["id"] }}"></option>
                            {% else %}
                                <option label="{{ option }}" value="{{ dict["id"] }}"></option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            {% else %}
                <td>{{ dict[key] }}</td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}